hardware/Backup-ESP32-S3-WROOM-1/**
hardware/**/fp-info-cache
hardware/**/gui_defaults.par
hardware/**/YF-Rev4-6-Adapter.step
hardware/**/YF-Rev4-6-Adapter-backups/**
hardware/**/production/**
hardware/**/~YF-Rev4-6-Adapter.kicad_sch.lck
hardware/**/_autosave-YF-Rev4-6-Adapter.kicad_sch
hardware/**/#auto_saved_files#
hardware/**/~YF-Rev4-6-Adapter.kicad_sch.lck
hardware/**/YF-Rev4-6-Adapter-v*.zip
sandbox/test-prototype/CMakeFiles/**
sandbox/test-prototype/CMakeCache.txt
